<div class="container-fluid">
    <h2 class="mt-4" style="color: gray">{{title}}</h2><br>

    <div class="card">
        <div class="card-body">
            <!--Display sesion message succes or fail here-->

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sl no.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">License</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Verify Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <td>{{ this._id }}</td>
                        <td>{{ this.name }}</td>
                        <td>{{ this.email }}</td>
                        <td>{{ this.license }}</td>
                        <td>{{ this.verified }}</td>
                        <td>
                            {{#unless this.verified}}
                            <div class="float-left" style="padding-right:10px;">
                                <form method="POST" action="/admin/verify/{{ this._id }}">
                                    <button class="btn btn-outline-success" type="submit" title="Verify">
                                        {{!-- <i class="text-center fa fa-check" aria-hidden="true"></i> --}}
                                        Verify
                                    </button>
                                </form>
                            </div>
                            {{/unless}}
                            {{#if this.verified}}
                            <div class="float-left">
                                <form method="POST" action="/admin/deverify/{{ this._id }}">
                                    <button class="btn btn-danger" type="submit" title="Deverify">
                                        Deverify
                                    </button>
                                </form>
                            </div>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    License verification status
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Pending</button>
                    <button type="button" class="btn btn-primary">Verified</button>
                </div>
            </div>
        </div>
    </div>
</div>
