<br>
<div class="container">
    {{> messages }}
    <div class="row">
        <div class="col-md-4 col-xs-4 align-self-center">
            <a href="{{car.imagePath}}">
                <img style="width:15rem; height-15rem;" src="{{car.imagePath}}" alt="...">
            </a>
        </div>
        <div class="col-md-8 col-xs-8">
            <br>
            <h2 style="font-family: 'Garamond'; font-weight:bold;">{{car.brand}} - {{car.carmodel}}</h2>
            <hr class="hr w-100 m-0 bg-danger">
            <div class="row m-0">
                <div class="col-4 align-self-center">
                    <p>
                        <h4 class="text-danger">₹{{car.price}}</h4>
                        <h5 class="text-success">In stock</h5>
                    </p>
                </div>


                {{!-- <div class="col-4 align-self-center">
                    <button class="btn btn-info w-100">Add to cart</button>
                </div> --}}
                <!-- Button trigger modal -->
                <div class="col-4 align-self-center">
                    <button class="btn btn-info w-100" data-toggle="modal" data-target="#exampleModal">
                        Buy
                    </button>
                </div>
                <div class="col-4 align-self-center">
                    <button class="btn btn-warning w-100">Add to cart</button>
                </div>

            </div>
            <hr class="hr m-0">

            <p>
                <h5>Description:</h5>
                <ul class="list-unstyled">
                    {{#each desc}}
                    <li class="li mt-1"><small>{{this}}</small></li>
                    {{/each}}
                </ul>
            </p>

        </div>
    </div>
    <hr class="hr bg-info">
    {{!-- Rent Form --}}
    <h2>Rent this Car</h2>
    <div class="card" style="margin: 0;">
        <form method="POST" action="/rent/{{ car._id }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="userid" name="userid" value="{{userid}}" hidden>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="carregnumber" name="carregnumber"
                        value="{{ car.carregnumber }}" hidden>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="pickupdate">Pick up Date</label>
                    <div class="input-group">
                        <div class='input-group-prepend'>
                            <button type="button" id="toggle1" class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="pickupdate" name="pickupdate" class="form-control" autocomplete="off" />
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="pickuppoint">Pick up Point</label>
                    <input type="text" class="form-control" id="pickuppoint" name="pickuppoint">
                </div>

                <div class="form-group col-md-6">
                    <label class="mr-sm-2" for="dropdate">Drop Date</label>
                    <div class="input-group">
                        <div class='input-group-prepend'>
                            <button type="button" id="toggle2" class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                        <input type="text" id="dropdate" name="dropdate" class="form-control" autocomplete="off" />
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="droppoint">Drop Point</label>
                    <input type="text" class="form-control" id="droppoint" name="droppoint">
                </div>
                <div class="form-group input-group mb-3 mt-3 col-md-6">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="height:fit-content;" for="inputGroupSelect01">Fuel
                            Package</label>
                    </div>
                    <select class="custom-select" id="fuelpackage" name="fuelpackage" onchange="getText(this)">
                        <option value="0" selected>Choose...</option>
                        <option value="1">50</option>
                        <option value="2">100</option>
                        <option value="3">150</option>
                        <option value="4">No Fuel</option>
                    </select>
                </div>

                <div class="form-group col-md-6 text-center">
                    <label for="totalprice">Total Price</label>
                    <h4 id="calcprice">Please select a Fuel Package</h4>
                </div>
            </div>

            <button type="submit" class="btn btn-danger float-right" style="margin-right: 10px;">
                Rent now!
            </button>
        </form>
    </div>

</div>

<script>
    function getText(slction) {
        var choice = slction.value;
        if (choice == 0) {
            document.getElementById('calcprice').innerHTML = "Please select a Fuel Package";
            return;
        } else if (choice == 1) {
            choice = 'suk ma diiiik';
        } else if (choice == 2) {
            choice = 'optimize this later';
        }
        document.getElementById('calcprice').innerHTML = "₹" + choice;
    }
</script>