<div class="landing-pic">
    <h2 class="animated bounceInLeft">Welcome!</h2>
    <h3 class="animated bounceInRight">Nitte's Best Car Rental Service</h3>
    <div class="text-center" style="padding-top: 38em;">
        <a href="#about" class="text-white">
            <i class="fa fa-angle-down" style="font-size: 42px"></i>
        </a>
    </div>
</div>

<div id="about" class="text-center container mb-2 mt-1 p-4">
    <h2 class="p-3 animated fadeInUp" style="color:teal">Something about us</h2>
    <div class="card-deck">
        <div class="card border-info">
            <img class="card-img-top" src="/assets/img/team.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Our Customers</h5>
                <p class="card-text">We care about you! Our customers are our first priority and we're open to any
                    suggestions.
                </p>
            </div>
        </div>
        <div class="card border-warning">
            <img class="card-img-top" src="/assets/img/car.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Quality of Cars</h5>
                <p class="card-text">Our cars are of top quality and they are checked on a regular basis.
                </p>
            </div>
        </div>
        <div class="card border-success">
            <img class="card-img-top" src="/assets/img/settings.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Customised Plans</h5>
                <p class="card-text">Choose your Pick up, Drop point and fuel package which suits you the best!
                </p>
            </div>
        </div>
        <div class="card border-danger">
            <img class="card-img-top" src="/assets/img/agreement.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Support</h5>
                <p class="card-text">Need help with something? Get in touch with us! Check out the support page for more
                    details.
                </p>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center mt-5 animated fadeInUp" style="color : teal">Browse Cars</h2>
<br>
<div id="browsecars" class="grid">
    {{#each cars}}
    <article class="card car-item">
        <h6 class="text text-center"> {{this.brand}} </h6>
        <h5 class="text text-center"> {{this.carmodel}} </h5>
        <div class="card__image">
            <a href="/car/{{this.id}}">
                <img style="width: 100%;" src="{{this.imagePath.[0]}}" alt="...">
            </a>
        </div>
        <h6 class="pull-left mt-2">Rs.{{ this.price }}</h6>
        <a href="/car/{{this.id}}" class="btn btn-primary" style="width:100%">View Car</a>
    </article>
    {{/each}}
</div>