<div class="landing-pic">
    <h2 class="animated bounceInLeft">Welcome!</h2>
    <h3 class="animated bounceInRight">Nitte's Best Car Rental Service (lol)</h3>
    <div class="text-center" style="padding-top: 38em;">
        <a href="#about" class="text-white">
            <i class="fa fa-angle-down" style="font-size: 42px"></i>
        </a>
    </div>
</div>

<div id="about" class="text-center container-fluid mb-2 mt-1 p-4">
    <h1 class="p-3">Something about us</h1>
    <div class="card-deck">
        <div class="card border-info">
            <img class="card-img-top" src="/assets/img/team.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                </p>
            </div>
        </div>
        <div class="card border-warning">
            <img class="card-img-top" src="/assets/img/car.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                </p>
            </div>
        </div>
        <div class="card border-success">
            <img class="card-img-top" src="/assets/img/settings.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                </p>
            </div>
        </div>
        <div class="card border-danger">
            <img class="card-img-top" src="/assets/img/agreement.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.
                </p>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">Browse Cars</h1>
<br>
<div id="browsecars" class="grid">
    {{#each cars}}
    <article class="card car-item">
        <h6 class="text text-center"> {{this.brand}} </h6>
        <h5 class="text text-center"> {{this.carmodel}} </h5>
        <div class="card__image">
            <a href="/car/{{this.id}}">
                <img style="width: 100%;" src="{{this.imagePath.[0]}}" alt="...">
            </a>
        </div>
        <h6 class="pull-left mt-2">Rs.{{ this.price }}</h6>
        <a href="/car/{{this.id}}" class="btn btn-primary" style="width:100%">View Product</a>
    </article>
    {{/each}}
</div>